body {
    font-family: 'Inter', sans-serif;
    background-color: #d8d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background: rgb(195, 176, 35);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

input[readonly] {
    background-color: #e9ecef;
    border: 1px solid #ccc;
}
